body {
    background-color: black;
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    text-rendering: optimizeSpeed; /* Less smooth */
    -moz-osx-font-smoothing: grayscale;
    filter: contrast(150%) blur(0.55px);
    color: #ccc;
    text-shadow:
        1px 0px #222,
        -1px 0px #222,
        0px 1px #111;
    min-height: 100vh;
}

.construction-header{
    display: block;
    font-size: 2em;
    align-items: center;
    font-weight: bold;
    unicode-bidi: isolate;
    padding-bottom: .1em;
}
.construction-container{
    transform: rotate(-2deg);
    padding-left: 24px;
    margin: 10px;
    display: block;
}

.little-pic{
    height: 172px;
    padding-top: .1em;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    top: 50vh;
    width: 100vw;
    position: relative;
}

.project {
    max-width: 600px;
    width: 100%;
    padding-bottom: 18px;
}

.greycontainer, .greycontainer-id {
    display: flex;
    flex-direction: column;
    color: inherit;
}

.selection-container{
    padding-top: 24px;
}

.right-container {
    padding-left: 480px;
    padding-top: 3px;
}

.text:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.paragraph {
    padding-bottom: 12px;
    text-align: justify;
    color: grey;
}

.quote-paragraph {
    padding-bottom: 24px;
    padding-left: 48px;
    text-align: left;
    color: grey;
    width: 480px;
    font-style: italic;
}

.qp-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.outlink {
    color: inherit;
    text-decoration: underline;
    padding-bottom: .12em
}

.outlink-white {
    color: white;
    text-decoration: underline;
}

.outlink:hover {
    cursor: pointer;
}

.name-logo{
    color: inherit;
    text-decoration: none;
    padding-bottom: 36px;
    font-weight: bold;
}

.name-logo:hover {
    cursor: pointer;
    color: black;
}

.title{
    font-style: italic;
    padding-bottom: 12px;
}

/* Standard Desktop Layout */
.menu-container, .menu-container-id {
    color: inherit;
    position: fixed;
    padding-left: 48px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Ensure content starts at top and scrolls naturally */
.content-container {
    margin-left: 270px;
    padding: 24px;
    max-width: 640px;
    width: 100%;
    overflow-y: auto;
}

/* Mobile Fix */
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        max-width: 100vw;
        top: 0;
    }

    .menu-container, .menu-container-id {
        padding: 16px;
        padding-bottom: 8px;
    }

    .content-container {
        margin-top: 220px;
        margin-left: 0;
        width: 90%;
        padding: 16px;
    }

    .right-container {
        padding-top: 48px;
        padding-left: 16px;
        max-width: 90vw;;
    }

    .back-button{
        padding-top: 3600px;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .menu-container .greycontainer {
        display: none;
    }
}

.video-responsive {
    display: flex;
    filter: contrast(100%) blur(0px);
    justify-content: center;
    align-items: center;
    max-width: 600px;
    overflow: hidden;  /* Hides anything that overflows the container */
}

.video-responsive img {
    width: 100%;

    object-fit: contain; /* Ensures the whole GIF fits without distortion */
    max-height: 100%; /* Prevents it from overflowing the container */
}

.back-button{
    padding-top: 2000px;
    padding-bottom: 40px;
}